<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0fEl0UrQk1Or8cF2os4GSgJzBaH99SEk</string>
	<key>GCM_SENDER_ID</key>
	<string>525189608603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iegy</string>
	<key>PROJECT_ID</key>
	<string>iegy-bcbff</string>
	<key>STORAGE_BUCKET</key>
	<string>iegy-bcbff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525189608603:ios:4c1b392af0cc60a7e3c23e</string>
</dict>
</plist>